/* Dark mode theme colors - use with property: var(name) */
:root {
  --dark-bg: #2a2a2a;
  --dark-bright-bg: #333;
  --dark-light-bg: #4a4a4a;
  --dark-med-bg: #444;
  --dark-med: #777;
  --dark-fg: #dddddd;
  --dark-bright-fg: #f0f0f0;
  --dark-dark-fg: #aaaaaa;
  --dark-blue-fg: #22bbff;
  --dark-blue-bg: #2288dd;
  --dark-darkblue-bg: #2266aa;
  --dark-red-fg: #cc3333;
  --dark-red-bg: #422222;
  --dark-black-bg: #111111;
}

/* Default page background/color */
body {
  background: var(--dark-bg) !important;
  color: var(--dark-med);
}

/* Shared */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: var(--dark-dark-fg);
}

.blue_bar, .student_topbar {
  background: var(--dark-light-bg);
}

.views#views {
  background: var(--dark-light-bg);
}

.blockOverlay {
  background: var(--dark-light-bg) !important;
}

.popover {
  background: var(--dark-med-bg);
}

.modal, .modal-footer, .modal-header {
  background: var(--dark-bg);
  border-color: var(--dark-bright-bg);
  box-shadow: none;
  color: var(--dark-dark-fg);
}

.btn {
  background: var(--dark-med-bg);
  border-color: var(--dark-bg);
  color: var(--dark-fg);
  text-shadow: none;
}

.btn:hover {
  background: var(--dark-light-bg);
  color: var(--dark-bright-fg);
}

textarea, input[type=text], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input {
  background: var(--dark-bg);
  color: var(--dark-fg);
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: inherit;
}

/* Tables */
table td, table th {
  color: var(--dark-fg);
  text-shadow: none;
}

.table-striped thead th {
  background: var(--dark-med);
}

.table-striped tbody tr:nth-child(2n+1) td,
.table-striped tbody tr:nth-child(2n+1) th {
  background: var(--dark-bg);
}

.table-striped tbody tr:nth-child(2n) td,
.table-striped tbody tr:nth-child(2n) th {
  background: var(--dark-med-bg);
}


table.tablesorter tbody tr {
  background: var(--dark-bg);
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background: var(--dark-med);
}

table.tablesorter tbody tr td {
  color: var(--dark-fg);
}

/* Toolbars */
#popular_tags_bar, .dashboard_toolbar {
  background: -webkit-linear-gradient(
    top,
    var(--dark-light-bg) 0%,
    var(--dark-bg) 100%
  ) !important;
  box-shadow: inset 0 1px 0 var(--dark-med) !important;
}

#page_feed_filter_buttons, .question_history_slider_label {
  color: var(--dark-fg) !important;
  text-shadow: 0 0.5px 0 var(--dark-dark-fg) !important;
}

.page_feed_search_wrapper {
  background: var(--dark-med-bg) !important;
}

#special_mentions, #special_mentions h3 {
  text-shadow: none;
}

#special_mentions h3 {
  color: var(--dark-dark-fg);
}

#special_mentions .stats_item .content {
  background: var(--dark-black-bg);
  box-shadow: none;
  color: var(--dark-fg);
}

/* Buttons and text boxes */
.btn-primary {
  background: -webkit-linear-gradient(
    top,
    var(--dark-blue-bg) 0%,
    var(--dark-darkblue-bg) 100%
  );
  border: none;
}
.start_reply, .compose_answer, .compose_discussion, .search_bar {
  background: var(--dark-med-bg) !important;
  border-color: var(--dark-light-bg) !important;
}
#search-box {
  background: none !important;
  color: var(--dark-fg) !important;
}
.clearButton {
  background-position-x: -13px !important;;
}
.hide_show_feed {
  color: var(--dark-dark-fg) !important;
  text-shadow: none;
}

/* Resources Page */
#Page #resources h2 {
  color: var(--dark-fg);
}

#Page #header {
  background: var(--dark-bg);
  color: var(--dark-fg);
}

footer {
  color: var(--dark-med);
}

.nav-tabs > li > a {
  color: var(--dark-blue-fg);
}

.nav-tabs > li > a:hover {
  background: var(--dark-med-bg);
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background: var(--dark-bg);
  color: var(--dark-dark-fg);
}

/* Search help */
.search_tips, .page_feed_filter_feed {
  background: var(--dark-bg);
  color: var(--dark-fg);
}

.search_tips table tr:nth-child(2n) {
  background: var(--dark-light-bg);
}

.sort_results_by {
  background: var(--dark-med);
  color: var(--dark-dark-fg);
  border: none;
  box-shadow: none;
}
.sort_results_by.active {
  background: var(--dark-med-bg);
  border: none;
  box-shadow: none;
}

/* New Post */
.posting_meta_section, .old_new_post {
  background: var(--dark-bg) !important;
  color: var(--dark-dark-fg);
}

.post_type_box.active {
  background: var(--dark-med-bg) !important;
  border-color: var(--dark-dark-fg) !important;
  color: var(--dark-fg) !important;
}

select {
  background: var(--dark-med-bg);
  border-color: var(--dark-dark-fg);
  color: var(--dark-fg);
}

/* Homescreen */
.homescreen_section_header a {
  color: var(--dark-blue-fg) !important;
}

.homescreen_section_header {
  color: var(--dark-bright-fg) !important;
  text-shadow: 1px 1px 0 var(--dark-dark-fg) !important;
}

.homescreen_section_header > i {
  color: var(--dark-fg) !important;
}

.homescreen_box {
  background: var(--dark-bg) !important;
}

.homescreen_box h4 {
  color: var(--dark-dark-fg) !important;
}

#job_status_section label {
  color: var(--dark-fg) !important;
}

.notification_text {
  color: var(--dark-fg);
}
.notification_wrapper:hover {
  background: var(--dark-med-bg) !important;
}

.download_on_app_store_popup_container {
  background: inherit;
  color: var(--dark-dark-fg);
}

.stat {
  color: var(--dark-fg) !important;
}

.stat > .fixed_50, .confirmation_text {
  color: var(--dark-bright-fg) !important;
}

/* Posts */
.post_region_box {
  background: var(--dark-bg);
}

.post_region_box .post_region_header {
  border-bottom-color: var(--dark-med);
}

.post_region_title {
  color: var(--dark-bright-fg) !important;
}

.post_region_box .post_region_content h1 {
  color: var(--dark-bright-fg);
}

.post_title {
  color: var(--dark-fg) !important;
}

#questionText {
  color: var(--dark-fg);
}

#view_question_note_bar {
  background: var(--dark-bg);
  border-color: var(--dark-med);
}

#clarifying_discussion>.clarifying_discussion>.clarifying_discussion {
  background: var(--dark-bright-bg) !important;
}

.post_region_text {
  color: var(--dark-bright-fg) !important;
}

.discussion_replies, discussion_content {
  background: var(--dark-bg) !important;
}

.discussion_replies .post_region_text {
  color: var(--dark-fg) !important;
}

.discussion_poster>.user_name {
  color: var(--dark-bright-fg);
}

.unresolved .resolve_unresolve_actions {
  background: var(--dark-red-fg) !important;
}

.resolve_unresolve_actions {
  background: var(--dark-light-bg) !important;
}

.post_region_box .post_region_actions, #edit_question_note_bar {
  border-top-color: var(--dark-med);
  background: var(--dark-bg);
}

/* Dropdown menu */
.dropdown-menu {
  background: var(--dark-bright-bg) !important;
}

.dropdown-menu > li:hover {
  background: var(--dark-light-bg) !important;
}

.dropdown-menu > li > a {
  color: var(--dark-bright-fg) !important;
}

/* Sidebar feed */
.feed_item {
  background: var(--dark-bg) !important;
  border-color: var(--dark-med) !important;
  box-shadow: none !important;
}
.feed_item.unanswered {
  background: var(--dark-red-bg) !important;
}
.feed_item.selected {
  background: var(--dark-black-bg) !important;
}
.feed_item > .metadata > .timestamp {
  color: var(--dark-fg) !important;
  text-shadow: none !important;
}
.feed_item > .content > .title {
  color: var(--dark-bright-fg) !important;
  text-shadow: none !important;
}
.feed_item.unanswered > .content > .title {
  color: var(--dark-red-fg) !important;
}
.feed_item > .content > .snippet {
  color: var(--dark-dark-fg) !important;
  text-shadow: none !important;
}
.private_icon {
  background: var(--dark-light-bg) !important;
  color: var(--dark-light-fg) !important;
}
.page_feed {
  border-right-color: var(--dark-med);
}
.page_feed_bucket_header, .drafts {
  box-shadow: inset 0 1px 0 var(--dark-med) !important;
  background: var(--dark-light-bg) !important;
  border-bottom-color: var(--dark-med) !important;
  color: var(--dark-fg) !important;
  text-shadow: 0 1px 0 var(--dark-dark-fg) !important;
}
.unresolved_followups {
  color: var(--dark-red-fg) !important;
  text-shadow: none;
}
.messages {
  text-shadow: none;
}
#feed {
  background: var(--dark-bg);
}
#loadMoreButton {
  background: var(--dark-med-bg);
  border-color: var(--dark-med);
  color: var(--dark-fg);
}

/* Search for Teammates Posts */
#teams .respond, #teams .edit_post, #teams .new_post {
  background: var(--dark-light-bg);
}

#teams h1, #teams h2, #teams h3, #teams h4, #teams h5, #teams h6 {
  color: var(--dark-bright-fg);
}

#teams label {
  color: var(--dark-fg);
}

#teams .respond input, #teams .edit_post input, #teams .new_post input,
#teams input, #teams textarea {
  color: var(--dark-fg);
}

#teams #post-table .header {
  background: var(--dark-light-bg);
}

#teams #post-table .header #col_num_stud {
  border-color: var(--dark-med);
}

#teams #post-table tr {
  border-color: var(--dark-med);
}

#teams .btn {
  background: var(--dark-light-bg);
  color: var(--dark-fg);
  text-shadow: none;
}

#teams .btn:hover {
  background: var(--dark-med);
  color: var(--dark-bright-fg);
}

#teams #post-table .info .responses .response,
#teams #post-table .info .respond_box {
  background: var(--dark-light-bg);
}

/* Statistics Page */
#statistics_panel .post_region_box {
  background: var(--dark-bg);
  color: var(--dark-fg);
}

#statistics_panel #chartsRegion h2 {
  background: var(--dark-bg);
}

#statistics_panel #chartsRegion .content {
  background: var(--dark-bg);
}

#statistics_panel .post_region_box svg rect {
  fill: var(--dark-med-bg);
}
#statistics_panel .post_region_box svg text {
  fill: var(--dark-fg);
}

#statistics_panel .sidebar h2, #statistics_panel #topQuestionsRegion h2 {
  background: var(--dark-bright-bg);
}

#statistics_panel .sidebar .content,
#statistics_panel #topQuestionsRegion .content {
  background: var(--dark-bright-bg);
}

#statistics_panel .value {
  color: var(--dark-fg);
}

#statistics_panel #topParticipantsRegion h2 {
  background: var(--dark-bright-bg);
}

#statistics_panel #topParticipantsRegion .content {
  background: var(--dark-bright-bg);
}

#statistics_panel #topParticipantsRegion h2 {
  background: var(--dark-bright-bg);
}

#statistics_panel #topParticipantsRegion .content {
  background: var(--dark-bright-bg);
}

/* Settings */
body .container .section {
  background: var(--dark-bright-bg);
  color: var(--dark-fg);
}

body .container .section .form_row:hover {
  background: var(--dark-med-bg);
  border-color: var(--dark-med-fg);
  color: var(--dark-med-fg);
}

body .container .section .form_row:hover .comment {
  color: var(--dark-med-fg);
}

body .container .section .class_row {
  background: var(--dark-med-bg);
}

body .container .section .class_row:hover {
  background: var(--dark-light-bg);
  border-color: var(--dark-med);
}

body .container .section .class_row .class_info .span4 {
  color: var(--dark-dark-fg) !important;
}

body .container .section .class_row .class_info .class_title {
  color: var(--dark-bright-fg);
}

.color-picker > .dropdown-toggle {
  background: var(--dark-bg) !important;
}

/* Course Information */
.well {
  background: var(--dark-bg);
}

#Page #course_information h2 {
  color: var(--dark-fg);
}

/* Careers page */
.tip_content {
  color: var(--dark-bg);
}

.filters_info_header {
  background: var(--dark-bright-bg);
  color: var(--dark-fg);
}

.main_section_wrapper .student_careers_header .filters_info_header
.filter_info {
  background: inherit;
}

.main_section_wrapper .student_careers_header .filters_info_header .filter_info
.selected_filters .selected_filter_name {
  color: var(--dark-bright-fg);
}

.student_topbar .searchbar_wrapper {
  background: var(--dark-bg);
}

.student_topbar .searchbar_wrapper .searchbar_input input[type="text"] {
  color: var(--dark-bright-fg);
}

.profile_content {
  background: var(--dark-bright-bg);
  color: var(--dark-fg);
}

.make_background_grey {
  background: var(--dark-bg);
}
.events_navigation_wrapper h3 {
  color: var(--dark-fg);
}
.student_feed_section .student_feed_section_header,
.dashboard_network_view .student_feed_section_header{
  color: var(--dark-fg);
}

.student_feed_section .student_feed_section_subheader,
.dashboard_network_view .student_feed_section_subheader {
  color: var(--dark-dark-fg);
}

.event_card_list .event_card,
.network_view .network_results .student_card_wrapper .student_card,
.network_view .network_results .student_card_wrapper .student_card
    .student_info {
  background: var(--dark-bright-bg);
  border-color: var(--dark-med);
  color: var(--dark-fg);
}

.student_careers_feed_container .visit_banner .button_wrapper {
  background: none;
}

.change_view_btn {
  background: var(--dark-med-bg) !important;
  border-color: var(--dark-med) !important;
  color: var(--dark-dark-fg) !important;
}

.separator_line {
  background: var(--dark-med) !important;
}

.change_view_btn:hover {
  background: var(--dark-med) !important;
}

.dashboard_network_view .filter_students_title {
  color: var(--dark-fg);
}

.network_view {
  color: var(--dark-fg);
}

.main_section_wrapper {
  background: var(--dark-bg);
  color: var(--dark-fg);
}

.careers_card_item .company_metadata .company_info > div {
  color: var(--dark-dark-fg);
}

.events_table {
  background: var(--dark-bg);
}

.events_table tr th {
  color: var(--dark-fg) !important;
}

/* Student Profile */
.student_item {
  background: var(--dark-bright-bg);
  color: var(--dark-fg);
}

.student_item:hover {
  background: var(--dark-med-bg) !important;
}

.student_item h4 {
  color: var(--dark-bright-fg);
}

.student_profile_header_nav_wrapper {
  background: var(--dark-bright-bg);
}

.student_profile_header_nav_wrapper .student_profile_header_nav li > a {
  color: var(--dark-bright-fg);
}

.student_profile_header_nav_wrapper .student_profile_header_nav li.active >
    a:hover {
  color: var(--dark-dark-fg);
}

#student_profile_modal .modal-content, #student_profile {
  background: var(--dark-bg);
}

#student_profile_modal .student_item.edit_mode, #student_profile
.student_item.edit_mode {
  background: var(--dark-light-bg);
}

div[modal-window] .modal-content {
  background: var(--dark-bg);
}

.btn-default {
  background: var(--dark-med-bg);
  color: var(--dark-bright-fg);
}

.btn-default:hover, .btn-default:active {
  background: var(--dark-dark-bg);
  color: var(--dark-dark-fg);
}

/* Modal overlays */
.jqmWindow {
  background: var(--dark-med-bg);
  color: var(--dark-dark-fg);
}

.jqmWindow label {
  color: var(--dark-med);
}

/* Company messaging */
.chat_container .chat_message .message_date_sent {
  border-color: var(--dark-med);
}

.chat_container .chat_message .message_date_sent h6 {
  background: var(--dark-med);
}

.chat_container .chat_header {
  background: var(--dark-bg);
  border-color: var(--dark-med);
}

.chat_container .chat_body {
  background: var(--dark-bg);
  border-color: var(--dark-med);
}

.force_css_msg span, .force_css_msg div, .force_css_msg p, .force_css_msg h1,
.force_css_msg h2, .force_css_msg h3, .force_css_msg h4 {
  background: var(--dark-bg) !important;
  color: var(--dark-fg) !important;
}

.chat_container .chat_message .company_block_message {
  background: var(--dark-bg);
}

.messaging_feed_section_wrapper .message_container .message_list
.message_feed_message_wrapper .message {
  background: var(--dark-bg);
  border-color: var(--dark-med);
}

.messaging_feed_section_wrapper .message_container .message_list
.message_feed_message_wrapper .message.viewed {
  background: var(--dark-bg);
}

.messaging_feed_section_wrapper .message_container .message_list
.message_feed_message_wrapper .message.selected {
  background: var(--dark-black-bg);
}

.messaging_feed_section_wrapper {
  border-color: var(--dark-med);
}

.add_border_left_student {
  border-color: var(--dark-med);
}

.student_num_messages_style {
  color: var(--dark-bright-fg) !important;
}

.messaging_feed_section_wrapper .message_box_label_container {
  background: var(--dark-bg);
  border-color: var(--dark-med);
}

.messaging_feed_section_wrapper .message_box_label_container .selected_feed {
  background: var(--dark-black-bg);
  color: var(--dark-fg);
}

/* Landing page */
.splash_panel.product_brief .online_classes_section .box {
  background: var(--dark-bright-bg);
  border-color: var(--dark-light-bg);
  color: var(--dark-bright-fg);
}

body.new_splash {
  color: var(--dark-dark-fg);
}

.new_splash h1 {
  color: var(--dark-fg);
}

.new_splash .splash_panel h2 {
  color: var(--dark-fg);
}

.new_splash .navbar {
  background: var(--dark-med-bg);
}

.new_splash .navbar .nav li a:hover, .new_splash .navbar .nav li a:focus {
  background: var(--dark-bright-bg);
}

.new_splash .navbar .navbar-right .btn-default,
.new_splash .navbar .navbar-right-no-float .btn-default {
  background: var(--dark-bright-bg);
  border-color: var(--dark-blue-bg);
  color: var(--dark-blue-fg);
}

.new_splash .splash_panel.alt_panel {
  background: var(--dark-bg);
}

.new_splash .profs_panel .thumbnail:hover {
  background: var(--dark-med-bg);
}

.thumbnail .caption {
  color: var(--dark-dark-fg);
}

.new_splash .footer ul li:hover a {
  color: var(--dark-fg);
}

/* "Verify your status" page */
.terms_modal h3.terms_modal_section_heading.bold_heading {
  color: var(--dark-fg);
}

.terms_modal .terms_modal_section_content {
  color: var(--dark-med);
}

.terms_modal .privacy_terms_modal_footer {
  background: var(--dark-bg) !important;
}

/* Piazza Report page */
h1, h2, h3, h4 {
  color: var(--dark-fg)
}

#ClassReport > .divider {
  margin-bottom: 50px;
}

.mainStats .image, #ClassReport .divider,
#ClassReport .summaryWithImage.childSummary .imageContainer,
#ClassReport #SideColumn .summaryWithImage .image,
#ClassReport #SideColumn #PiazzaLogo {
  filter: invert(95%) brightness(350%);
}

#ClassReport .summaryWithImage.childSummary .imageContainer .image {
  filter: brightness(28.57%) invert(95%);
}

.UIModalWindow .content {
  background: var(--dark-bg);
}

#UIModalWindow_ShareEmail {
  background: var(--dark-bg) !important;
}

#UIModalWindow_ShareEmail input,
#UIModalWindow_ShareEmail textarea {
  color: var(--dark-med);
  border-color: var(--dark-dark-bg);
}

#UIModalWindow_ShareEmail .content_section p {
  color: var(--dark-med);
}

#UIModalWindow_ShareEmail .share_email_button_section .share_email_button {
  background: var(--dark-med);
  color: var(--dark-fg);
}

#UIModalWindow_ShareEmail .share_email_button_section .share_email_link {
  color: var(--dark-med);
}

#ClassReport {
  background: var(--dark-bg);
}

#ClassReport .column h2 {
  color: var(--dark-fg);
}

#ClassReport .column h2 span {
  background-color: var(--dark-med);
}

#ClassReport .header .subtitle {
  color: var(--dark-light-fg);
}

#ClassReport .header .titleTerm,
#ClassReport .header .titleSchool,
#ClassReport .header .termDivider {
  color: var(--dark-fg);
}

#ClassReport #SideColumn .summaryWithImage .imageContainer .viewCountContainer {
  background: var(--dark-blue-bg);
  color: var(--dark-fg);
}

#ClassReport #SideColumn .summaryWithImage .summaryContainer .questionSnippet {
  color: var(--dark-fg);
}

#ClassReport #SideColumn .summaryWithImage .summaryContainer
.questionStatisticContainer {
  background: var(--dark-med-bg);
  border-left-color: var(--dark-med);
}

#ClassReport #LeftColumn #ClassParticipationGraph {
  border-color: var(--dark-med);
}

#ClassReport #LeftColumn #ClassParticipationGraph .fill {
  background: var(--dark-blue-fg);
}

#ClassReport #LeftColumn #ClassParticipationGraph .label {
  color: var(--dark-fg);
}

#ClassReport #LeftColumn #ClassParticipationGraph.lessThan50Percent .label {
  color: var(--dark-red-fg);
}

#ClassReport .shareLinksDiv {
  border-color: var(--dark-blue-bg);
}

#ClassReport .shareLinksDiv h3 {
  background-color: var(--dark-blue-bg);
  color: var(--dark-fg);
}

#ClassReport .shareLinksDiv h4 {
  color: var(--dark-dark-fg);
}

#ClassReport .shareFB {
  background-color: var(--dark-blue-bg);
  border-color: var(--dark-black-bg);
}

#ClassReport .shareLinksBtns {
  background: var(--dark-bg);
}

#ClassReport .shareFB:hover,
#ClassReport .shareEmail a:hover {
  background-color: #F7AE2B;
  border-color: #999;
}
